.container {
  @include size(600px, 400px);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .alarm-controls {
    position: relative;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;

    form {
      width: 300px;

      * {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
